/* Built on top of getbootstrap.com dashboard example */


html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 0px;
  /* Margin bottom by footer height */
  margin-bottom: 115px;
  background-color: #d9e0e7;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */


@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    /*padding: 0 20px 20px 20px;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #1f2d3e;
    border-right: 1px solid #eee;
  }
}

.circular-container {
  text-align: center;
}

.circular {
	width: 100px;
	height: 100px;
  margin: 20px 20px 0px 20px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: url(../img/bender.png) no-repeat;
  background-size: 100px 100px;
  background-repeat: no-repeat;
	}

.sidebartop {
  background-color: #1a2229;
  padding-bottom: 20px;
}

.sidebartop > h1, .sidebartop > p {
  margin: 10px 0 0 0;
}

.sidebar {
  background-color: #2d353c;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li {
  padding-right: 10px;
  padding-left: 20px;
  border-bottom: 1px solid #424C54;
  cursor: pointer;
}
.nav-sidebar > li:hover {
  background-color: #1a2229;
}
.nav-sidebar > .active,
.nav-sidebar > .active:focus, .nav-sidebar > .active:hover {
  color: #fff;
  background-color: #348fe2;
  border-top: 1px solid #1a2229;
  border-bottom: 1px solid #1a2229;
}


h1 {
  color: #fff;
  font-size: 22px;
}

.sidebar-title {
  padding-top: 10px;
}

h2 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 5px;
}

.conversation-item-header {
  margin-top: 0px;
}

.conversation-item-header:first-letter {
    text-transform:capitalize;
}

.conversation-item {
  padding: 10px 5px 5px 0px;
}

.conversation-options {
  color: #fff;
  font-size: 12px;
  margin-bottom: 0px;
}

.headertext-title {
  color: #fff;
  cursor: pointer;
}

.headertext {
  color: #fff;
  margin-bottom: 0px;
  padding: 5px 5px 15px 0px;
}

.new-conversation, .glyphicon-plus {
  color: #fff;
  cursor: pointer;
}

.glyphicon-menu-down {
  color: #333;
}

.conversations-header {
  padding: 15px 5px 5px 15px;
  border-top: 1px solid #424C54;
  border-bottom: 1px solid #424C54;
}

.conversationname-input {
  color: #000;
}

ol {
  padding: 0px 0px 0px 15px;
  color: #fff;
}



/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.main .page-header {
  margin-top: 0;
}


.message-options {
  text-align: right;
  font-size: 12px;
  padding: 5px 15px 5px 5px;
}

.message {

  margin-bottom: 10px;
  padding: 5px 15px 5px 15px;
}

.instructions-container {
    padding: 15px 15px 15px 15px;
    margin: 0px 2.0833% 20px  2.0833%;
    background: #fff;
    position: relative;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.instructions-text-header {
  color: #348fe2;
  font-size: 14px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  display: inline-block;
}

.instructions-text {
  color: #333;
}

.instructions-header {
  border-bottom: 1px solid #e2e7eb;
  margin-bottom: 5px;
}

.statusdialog-message {
  float: right!important
}

.question {
  margin-left: 5%;
  background: #fff;
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.response {
  margin-right: 5%;
  background: #fff;
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.question:before {
  content: ' ';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: 20px;
}

.response:before {
  content: ' ';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  right: -20px;
  top: 20px;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.message-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #e2e7eb;
  line-height: 25px;
  display: block;
}

.message-header-text {
  color: #348fe2;
  font-size: 14px;
  margin-bottom: 0px;
}

.message-content{
  display: block;
  cursor: pointer;
}

.message-footer {
  background: #e8ecf1;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  margin: 0px -15px -15px -15px;
  display: block;
}

.container-fluid {

}

.message-text {
  margin: 7px 0px 7px 0px;
}

.message-input {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


.nomsgwarning {
  margin-top: 0px;
  text-align: center;
  position: relative;
  padding: 25px 50px 50px 50px;
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

@media (min-width: 768px) {
  .nomsgwarning {
    margin-top: 50px;
    text-align: center;
    position: relative;
    padding: 25px 50px 50px 50px;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
}

.nomsgwarning > h1 {
  color: #333;
}
/* Sticky footer styles
-------------------------------------------------- */

.footer {
  /*position: absolute;*/
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}

.glyphicon {
  margin-left: 5px;
}
